<h1>Create Post</h1>
<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :new_post do |form| %>
  <div class="form-input">
    <%= form.label :Subject %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="form-input">
    <%= form.label :Text %>
    <%= form.text_area :text, class: "form-control text" %>
  </div>
    <%= form.submit %>
 
<% end %>