<div class="posts">
  <div class="card-info">
    <h3> <%=@post.title%> by <%= @post.author.name%> </h3>
    <p> <%= @post.text%> </p>
    <p class="placeholder stats placeholder-top"> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %> </p>
  </div>
  <div class="card-info">
    <% @post.comment.each do |coment| %>
      <p> <%= coment.author.name%>: <%= coment.text%><p>
    <% end %>  
    <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes" do |f| %>
  <%= f.submit "Like" %>
   <a href="<%=@post.id%>/comments/new"><button class="btn">Comment</button></a>
  <% end %>
 
  </div>
</div>